/*reset*/
*{margin: 0; padding: 0; font-size: 100%; font-family: sans-serif; font-weight: normal;box-sizing:border-box; border: none; outline: none; }
img{max-width: 100%;}
ul{list-style: none;}
a{ text-decoration: none; }
h2{font-size: 1.5em; color: #333; }
p{font-size: 1em; color: #333;}
/*cabeçalho*/
.cabecalho{width: 100%; float: left; padding: 8px 6%; background-color:#03396c;}
.logo{width: 220px; height: 48px; float: left; padding: 3px;}
.cabecalho form{width: 30%; float: right; padding: 8px 0; }
.cabecalho input[type="text"]{width: 85%; float: left; padding: 10px 0; background-color: #fff; color: #005073; border-radius: 5px 0 0 5px; text-transform: uppercase; text-align: center;}
.cabecalho button{width: 15%; padding: 10px 0; background-color: rgb(226, 224, 224); color: #1111; cursor: pointer; border-radius: 0 5px 5px 0; }
/*menu*/
.menu{width: 100%; float: left; padding: 8px 6%; background-color: #005b96 ;}
.menu li{ float: left; padding: 6px;}
.menu li a {color: #fff; margin-right: 10px; font-weight: 600; text-transform: uppercase;}
.menu li a:hover{color: #bfe0ff; border-bottom: 4px solid #bfe0ff;} 
/* social-icons*/
.social-icons{width: 20%; float: right;}
.social-icons a {color: #fff;margin-left: 5px; padding: 5px;}
.btn-facebook:hover{color:#142f69 ;}
.btn-twitter:hover{color:#bfe0ff ;}
.btn-google:hover{color:#ee0909 ;}
/*principal*/
.principal{width: 100%; float: left;}
.sobre{width: 60%; float: left; padding: 10px 20px; }
.sobre h2{font-weight: 600;}
.sobre img {width: 65%; float: left; border-radius: 10px; margin: 0 15px 10px 0;}
.sobre p{text-align: justify;}
/*onde-estamos*/
.onde-estamos{width:40%;float: right; padding:10px 20px; background-color: #b8b5b5; border-radius: 5px; margin-top: 35px;}
.onde-estamos h2{margin-bottom: 10px; text-transform: capitalize; font-weight: 600; text-align: center;}
.onde-estamos p{text-transform: capitalize; text-align: center;}
.onde-estamos iframe{width:100%; height: 260px; margin: 20px 0;}
.onde-estamos li{color: #222; margin-bottom: 10px}
.onde-estamos i{margin-right: 5px;}
/*newsletter*/
.newsletter{width: 100%; float: left; background-color:#03396c; padding: 30px 8%;}
.newsletter h3 {font-size: 1.8em; color:#fff;}
.newsletter p {font-size: 1.2em;color: #fff;}
.newsletter form{width:100%; float: left;margin-top: 10px;}
.newsletter form input{width:40%;margin-right: 0.7%; padding: 15px 10px; border: solid 1px #fff; border-radius: 5px;color: #fff; background-color: initial;float: left;color:#fff; font-weight: 600;}
.newsletter button{width:18.2%; background-color:#fff; padding:15px 10px; border-radius: 5px; float: right; cursor:pointer;}
.newsletter button:hover{background-color: #222; color:#fff;}
/*rodape*/
.rodape{width:100%; float:left; padding: 20px 8%; background-color: #005b96; }
.rodape p {color:#fff} 